.events_daily_main {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.events_view {
  background-color:whitesmoke;
}

.events_daily_chart {
  display: flex;
  justify-content: center;
  margin-top: 10%;
 }

 .events_daily {
  height: 100vh;
  overflow: scroll;
}