.toolbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color:#eae0c8;
  background-size: 100% auto;
  height: 175px;
  z-index: 200;
}

.toolbar_navigation {
  color: black;
  text-decoration: none;
  font-size: 1.1rem;

  /* display: flex;
  position: relative;
  height: 100%;
  align-items: center;
  padding: 0 1rem; */
}

.toolbar_button {
  margin: 0.2rem 0;

}

.toolbar_navigation_items a {
  color: white;
  text-decoration: none;
}

.toolbar_navigation_items ul {
  list-style: none;
  margin: none;
  padding: 0;
  display: flex;
}

.nav_li {
  padding: 0 0.5rem;
}