.poi_main {
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: black;
}

.poi_view {
  background-color:black;
}

.poi_table {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  border: black;
  background-color: #F0F8FF;
  width: 100%;
 }

 .poi_header {
   display: flex;
   justify-content: center;
  margin-top: 100px;
}

