.stats_daily_main {
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: black;
}

.stats_view {
  background-color:black;
}

.stats_daily_chart {
  display: flex;
  justify-content: center;
  margin-top: 10%;
 }

 .stats_header {
  margin-top: 100px;;
}

 .stats_daily {
  height: 100vh;
  overflow: scroll;
}