.stats_hourly_main {
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: black;
}

.stats_view {
  background-color:black;
}

.stats_header {
  margin-top: 100px;;
}

.stats_hourly_chart {
  border-top: 10px;
  display: flex;
  justify-content: center;
  margin-top: 10%;
 }

 .stats_hourly {
  height: 100vh;
  overflow: scroll;
}